@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(img/fondo.jpg);
	background-size: cover;
	background-attachment: fixed; /* Fija la imagen de fondo */
	background-position: center; /* Centra la imagen */
}

/*------- MENU - Inicio --------*/
/*Arreglar el tamano de fuente a uno responsive*/
.Menu{
	max-width: 900px;
	margin: auto;
	background-color: white;
	font-size: 20px;
	margin-top: 50px;
	border-radius: 10px;
}
.Menu-Horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.Menu-Horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
}
.Menu-Vertical{
	position: absolute; /*sin esto, ocupa mucho espacio*/
	width: 20%;
	display: none;
	list-style: none;
	background-color: rgba(0, 0, 0, .5);
}

.Menu-Vertical > li > a{
	color: white;
	text-decoration: none;
	padding: 15% 0% 15% 10%;
}

/*cuando pase por una opcion del menu horizontal sera verde*/
.Menu-Horizontal > li:hover{
	background-color: green;
}
/*y con lo anterior la fuente sera blanca*/
.Menu-Horizontal > li:hover a{
	color: white;
}
/*se abrira el menu vertical*/
.Menu-Horizontal > li:hover >.Menu-Vertical{
	display: block;
}
/*cuando pase por una opcion del menu vertical sera mas oscuro*/
.Menu-Vertical li:hover{
	background-color: rgba(0, 0, 0, .7);
}

@media (max-width: 768px) {
	.Menu {
	  font-size: 16px;
	}
	.Menu-Horizontal {
	  flex-direction: column;
	  align-items: flex-start;
	}
	.Menu-Horizontal > li {
	  width: 100%; /* Ocupa todo el ancho */
	}
	.Menu-Horizontal > li > .Menu-Vertical {
	  position: relative;
	  width: 100%; /* Ajusta el menu vertical a la pantalla para que no se quede corto */
	}


}
/*------- MENU - Fin --------*/


/*------- Frase - Inicio --------*/
.texto-sobre-imagen {
	position: relative;
	margin-top: 20%;
	text-align: center;
	color: white;
	font-size: 5vmax;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra negra */
  }
  
/*------- Frase - Fin --------*/
